// Utilities
@import "../../../styles/variables.scss";

.pagination {
    justify-content: center;
    a {
        margin-right: 10px;
        cursor: pointer;
        color: #333;
        transition: all 0.25s ease-in-out;
        text-decoration: none;
    }   

    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }

    li.active a {
        color: $secondary-color;
        font-weight: bold;
    }

    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {  

        .previous:before {
            width: 80px;
            height: 18px;
            background: url(../../commons/left_ornament.png) 0 1px no-repeat;
            margin-top: 6px;
            margin-left: -90px;
            position: absolute;
            content: '';
        }

        .next:after {
            width: 80px;
            height: 18px;
            background: url(../../commons/right_ornament.png) 0 1px no-repeat;
            margin-top: 6px;
            margin-left: 10px;
            position: absolute;
            content: '';
        }
    }
    
}

.resultsPerPageContainer {
    display: flex;
    justify-content: center;

    label {
        margin-right: 10px;
    }
}