// Utilities
@import "../../styles/variables.scss";

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 40px;
    cursor: pointer;

    .card-title {
        margin: .75rem;
    }

    &:hover .flip-card-inner {
        transform: rotateY(180deg);
        background-color: #222;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       
    }

    .flip-card-front {
        background-color: #222;
        color: #fff;
    
        &, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        img {
            max-height: 200px;
            max-width: 100%;
        }
    }
    
    .flip-card-back {
        background-color: #222;
        color: white;
        transform: rotateY(180deg);

        .card-body {
            padding-top: 3rem;

            p {
                margin-top: 2rem;
                
                a {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    font-size: 1rem;
                }
        
                a:hover {
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
          
        }
    }
}
