
.gnomeDetail {
    img {
        max-width: 100%;
        margin-right: 2rem;
        padding: 0.3rem;
        border: 1px solid #333
    }
    
    .borderLeft {
        border-left: 1px solid #ccc;
    }
}

.friendsHeader {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    &:before {
        width: 80px;
        height: 18px;
        background: url(../commons/left_ornament.png) 0 1px no-repeat;
        margin-top: 10px;
        margin-left: -90px;
        position: absolute;
        content: '';
    }
    
    &:after {
        width: 80px;
        height: 18px;
        background: url(../commons/right_ornament.png) 0 1px no-repeat;
        margin-top: 10px;
        margin-left: 10px;
        position: absolute;
        content: '';
    }
}


.linkBack {
    color: #333;
}


