// Utilities
@import "variables.scss";

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #f4f4f4;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 20px;
  background: white;
  color: $secondary-color;
}

.custom-range::-webkit-slider-thumb {
  background: #ce4031;
}

.custom-range::-moz-range-thumb {
  background: #ce4031;
}

.custom-range::-ms-thumb {
  background: #ce4031;
}

header {
  nav {
    background: #222;
    padding: 20px;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 12px #777; 
    
    ul {
      margin: 0;

      li {
        display: inline-block;
        text-align: center;
        margin-right: 20px;

        a {
          font-size: 2em;
          /* small devices (tablets, 400px and down)  */
          @media (max-width: 400px) {  
            font-size: 1.5em;
          }
        }

        a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }
}

a {
  color: $nav-footer-color;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}

.header_section {
  margin-bottom: 2rem;
  text-align: center;
}

.body_section {

  font-size: 1.5em;
  /* small devices (tablets, 400px and down)  */
  @media (min-width: 400px) {  
    background: url("/ornament.png") 0px 0px repeat-x;
    padding-top: 154px;
  }  
  margin-bottom: 2rem;

  p.text:first-of-type:first-letter {
    width: auto !important;
    height: auto !important;
    float: left;
    color: #ce4031;
    font-size: 160px;
    line-height: 140px;
    margin-top: 20px;
    margin-right: 10px;
    text-transform: uppercase;
    text-align: left;
  }

  .error {
    color: red;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

}

footer {
  background: #000;
  padding: 20px;
  margin-top: 2rem;
  color: $nav-footer-color;
  text-align: center;
}
